
log.txt
script idk.py
Sin_Test.java
*.csv
pitch-vs-airtime-results-zoomed-in.xlsx
pitch-vs-distance-results.xlsx
simulation rewritten.Rmd
pitch-vs-distance-results.xlsx
pitch-vs-airtime-results-zoomed-in.xlsx
jank
jank/*